* {
  margin: 0;
}
html, body {
  height: 100%;
  background-color: #5E6D70;
  color: #000000;
}
h1, h3, h3 a, h4, h4 a{
  color: #FFFFFF;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -40px;
  padding: 10px;
}
#wrapper:after {
  content: "";
  display: block;
}
#footer, #wrapper:after {
  height: 40px;
}
#footer {
  text-align: center;
  background: #1B1D1E;
  color: #FF6600;
}

#exam-table tr{
  transition: .15s;
}
#exam-table tr:not(:first-child):hover{
  cursor: hand;
  background: #bbbbbb;
}

.question-table tr.question{
  font-weight: bold;
}
.question-table tr.correct{
  background: #8AFF82;
}
.question-table tr.incorrect{
  background: #FF8282;
}
